<!DOCTYPE html>
<html>

    <head>
        <title>JSSample Rewards TestPage</title>
    </head>

    <body>

        <h2> Page to test the app </h2>
        <p> Please open the browser console and refresh this page.<br>
            Application control flow and results of major operations will be visible in the console.
        </p>

        <br>
         Please go through 'Readme.txt' for details

        <script src="../../app/scripts/configuration/configuration.js"></script>
        <script src="../../app/scripts/constants/coreConstants.js"></script>
        <script src="../../app/scripts/utils/commonUtils.js"></script>
        <script src="../data/testDataSourceGroup.js"></script>
        <script src="../../app/scripts/data/dataSourceManager.js"></script>
        <script src="../../app/scripts/rewards/rewardsManager.js"></script>
        <script src="../../app/scripts/users/user.js"></script>
        <script src="../../app/scripts/app.js"></script>
        <script src="../scripts/test.js"></script>

    </body>

</html>